<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>NPR News App</title>
		<!-- Latest compiled and minified CSS -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape" id="scrape" class="btn-large waves-effect waves-light red lighten-1">Scrape Articles</a></li>
                    <li><a href="/articles">Saved Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <br>
            <br>
            <h1 class="header center grey-text text-lighten-2">NPR News Scraper</h1>
            <div class="row center">
                <h5 class="header col s12 light">Get the latest articles from NPR.org</h5>
            </div>
            <br>
            <br>
        </div>
        <div class="container">
		{{{ body }}}
        </div>
    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>
        {{!-- handlebars setup for scraped data --}}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
	    <!--Import jQuery before materialize.js-->
	    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="./controllers/controller.js"></script>
	</body>
</html>